## Steps for Data Owner
<ol>
    <li> Initialize a domain </li>
    <li> Turn the .csv file into a Numpy dataset </li>
    <li> Upload the numpy dataset to the domain </li>
    </ol>

In [1]:
import syft as sy
import numpy as np
from syft.core.adp.entity import DataSubject

In [2]:
domain_node = sy.login(email="info@openmined.org", password="changethis", port=8081)

Connecting to http://localhost:8081... done! 	 Logging into adp... done!

In [4]:
ishan = DataSubject(name="Ishan")

In [5]:
import pandas as pd
canada_dataset = pd.read_csv("../../trade_demo/datasets/ca - feb 2021.csv")
canada_dataset.head()

/Users/ishanmishra/PycharmProjects/PySyft/.tox/syft.jupyter/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0

In [6]:
import hashlib
from math import isnan, nan

hash_db = {}
hash_db[nan] = nan

def convert_string(s: str, digits: int=15):
    """Maps a string to a unique hash using SHA, converts it to a hash or an int"""
    if type(s) is str:
        new_hash = int(hashlib.sha256(s.encode("utf-8")).hexdigest(), 16) % 10**digits
        hash_db[s] = new_hash
        return new_hash
    else:
        return s

In [7]:
duplicate_dataset = canada_dataset
string_cols = ['Classification', 'Period Desc.', 'Trade Flow','Reporter', 'Partner','Commodity']

for col in canada_dataset.columns:
    print(col)
    canada_dataset[col] = canada_dataset[col].map(lambda x: convert_string(x))

Classification
Year
Period
Period Desc.
Aggregate Level
Is Leaf Code
Trade Flow Code
Trade Flow
Reporter Code
Reporter
Reporter ISO
Partner Code
Partner
Partner ISO
Commodity Code
Commodity
Qty Unit Code
Qty Unit
Qty
Netweight (kg)
Trade Value (US$)
Flag

In [8]:
canada_dataset.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,109781654799833,2021,202102,618044004745978,4,0,1,740486968595500,124,524003986429176,...,251096594821383,NaN,20063876956541,6.602623e+14,0,NaN,NaN,NaN,9285,0
1,109781654799833,2021,202102,618044004745978,2,0,1,740486968595500,124,524003986429176,...,382796968671830,NaN,897295160791370,4.288560e+14,0,NaN,NaN,0.0,116604,0
2,109781654799833,2021,202102,618044004745978,2,0,1,740486968595500,124,524003986429176,...,37977140198169,NaN,897295160791370,4.288560e+14,0,NaN,NaN,0.0,1495175,0
3,109781654799833,2021,202102,618044004745978,2,0,1,740486968595500,124,524003986429176,...,711459702489058,NaN,897295160791370,4.288560e+14,0,NaN,NaN,0.0,2248,0
4,109781654799833,2021,202102,618044004745978,2,0,1,740486968595500,124,524003986429176,...,718934534792483,NaN,897295160791370,4.288560e+14,0,NaN,NaN,0.0,47840,0

In [9]:
duplicate_dataset.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,109781654799833,2021,202102,618044004745978,4,0,1,740486968595500,124,524003986429176,...,251096594821383,NaN,20063876956541,6.602623e+14,0,NaN,NaN,NaN,9285,0
1,109781654799833,2021,202102,618044004745978,2,0,1,740486968595500,124,524003986429176,...,382796968671830,NaN,897295160791370,4.288560e+14,0,NaN,NaN,0.0,116604,0
2,109781654799833,2021,202102,618044004745978,2,0,1,740486968595500,124,524003986429176,...,37977140198169,NaN,897295160791370,4.288560e+14,0,NaN,NaN,0.0,1495175,0
3,109781654799833,2021,202102,618044004745978,2,0,1,740486968595500,124,524003986429176,...,711459702489058,NaN,897295160791370,4.288560e+14,0,NaN,NaN,0.0,2248,0
4,109781654799833,2021,202102,618044004745978,2,0,1,740486968595500,124,524003986429176,...,718934534792483,NaN,897295160791370,4.288560e+14,0,NaN,NaN,0.0,47840,0

In [10]:
len(hash_db.keys())

12838

In [11]:
canada_dataset.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,109781654799833,2021,202102,618044004745978,4,0,1,740486968595500,124,524003986429176,...,251096594821383,NaN,20063876956541,6.602623e+14,0,NaN,NaN,NaN,9285,0
1,109781654799833,2021,202102,618044004745978,2,0,1,740486968595500,124,524003986429176,...,382796968671830,NaN,897295160791370,4.288560e+14,0,NaN,NaN,0.0,116604,0
2,109781654799833,2021,202102,618044004745978,2,0,1,740486968595500,124,524003986429176,...,37977140198169,NaN,897295160791370,4.288560e+14,0,NaN,NaN,0.0,1495175,0
3,109781654799833,2021,202102,618044004745978,2,0,1,740486968595500,124,524003986429176,...,711459702489058,NaN,897295160791370,4.288560e+14,0,NaN,NaN,0.0,2248,0
4,109781654799833,2021,202102,618044004745978,2,0,1,740486968595500,124,524003986429176,...,718934534792483,NaN,897295160791370,4.288560e+14,0,NaN,NaN,0.0,47840,0

In [12]:
np_dataset = canada_dataset.values

In [13]:
np_dataset.astype(float)

array([[1.09781655e+14, 2.02100000e+03, 2.02102000e+05, ...,
                   nan, 9.28500000e+03, 0.00000000e+00],
       [1.09781655e+14, 2.02100000e+03, 2.02102000e+05, ...,
        0.00000000e+00, 1.16604000e+05, 0.00000000e+00],
       [1.09781655e+14, 2.02100000e+03, 2.02102000e+05, ...,
        0.00000000e+00, 1.49517500e+06, 0.00000000e+00],
       ...,
       [1.09781655e+14, 2.02100000e+03, 2.02102000e+05, ...,
        1.83900000e+03, 1.88120000e+04, 0.00000000e+00],
       [1.09781655e+14, 2.02100000e+03, 2.02102000e+05, ...,
        1.43700000e+03, 2.31400000e+04, 0.00000000e+00],
       [1.09781655e+14, 2.02100000e+03, 2.02102000e+05, ...,
        5.66000000e+03, 7.36520000e+04, 0.00000000e+00]])

In [14]:
np_dataset.dtype

dtype('float64')

In [15]:
# schema = {
#     "private_data": {"TradeValue": {"type": "list"}},
#     "public_data": {"type": "DataFrame"},
# }

domain_node.load_dataset(
    assets={"feb2020_private": np_dataset},
    name="Canada Trade Data",
    description="""A collection of reports from Canada's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
)

In [16]:
domain_node.store.pandas

,ID,Tags,Description,object_type
0,<UID: 84874be82cc64315b2231fc91ec7f3bf>,[#feb2020_private],,<class 'numpy.ndarray'>

In [17]:
private_tensor = sy.Tensor(np_dataset).private(0, 1e15, entity=ishan).tag("private_dataset")

In [18]:
private_ptr = private_tensor.send(domain_node)

In [19]:
domain_node.load_dataset(
    assets={"private_dataset": private_tensor},
    name="Canada Trade Data",
    description="""A collection of reports from Canada's statistics 
                    bureau about how much it thinks it imports and exports from other countries.""",
)

In [23]:
domain_node.store.pandas

,ID,Tags,Description,object_type
0,<UID: 747a85b4106a485fb09f6c6901a19cc0>,[public_data],,<class 'syft.core.tensor.tensor.Tensor'>
1,<UID: e86c4c64f64f4344850d6ae70a5dfefe>,[data],,<class 'syft.core.tensor.tensor.Tensor'>
2,<UID: 8dfb009ca0c649108e196657ab642fae>,[target],,<class 'syft.core.tensor.tensor.Tensor'>
3,<UID: 9e80b6b73bda40fcb58dee234529f320>,[],,<class 'syft.core.tensor.tensor.Tensor'>
4,<UID: 78d41cb834a64e1a975d89afc6e16ac6>,[basic],,<class 'syft.core.tensor.tensor.Tensor'>
5,<UID: f73759e3025d4682a8bbe7905b8d1e36>,[basic],,<class 'syft.core.tensor.tensor.Tensor'>
6,<UID: 16ac150b5c8f48b2a8c96cc43cae0b89>,[basic],,<class 'syft.core.tensor.tensor.Tensor'>
7,<UID: 451b4b996d29474ca14be496d381d66f>,[basic],,<class 'syft.core.tensor.tensor.Tensor'>
8,<UID: e173ac79fdcb4188869d4724819f68a0>,[basic],,<class 'syft.core.tensor.tensor.Tensor'>
9,<UID: 448b81fd80f9469e94e11a0c25a96617>,[basic],,<class 'syft.core.tensor.tensor.Tensor'>
10,<UID: 78925e87531c497cb5333b011e58f69b>,[basic],,<class 'syft.core.tensor.tensor.Tensor'>
11,<UID: 3a9cd0ca39e44d5a94c5c61458cbf5b8>,[private],,<class 'syft.core.tensor.tensor.Tensor'>
12,<UID: 488ab7fe951041eca39497a3ff2a03f5>,[private],,<class 'syft.core.tensor.tensor.Tensor'>
13,<UID: 580a0fbfb0b9419fbf7d4609d26e8940>,[data],,<class 'syft.core.tensor.tensor.Tensor'>
14,<UID: cb7cd91872a04934b10298d378f0a895>,[target],,<class 'syft.core.tensor.tensor.Tensor'>
15,<UID: 16c87dcaec0048339c7b9541698c13db>,[public_data],,<class 'syft.core.tensor.tensor.Tensor'>
16,<UID: 6139f4771db44616bc14c32d292dd7bf>,[target],,<class 'syft.core.tensor.tensor.Tensor'>
17,<UID: dede427c419e4201b4930f87f34e7a8b>,[data],,<class 'syft.core.tensor.tensor.Tensor'>
18,<UID: b3736703b83e4dcc9ea19f99150d2f0c>,[target],,<class 'syft.core.tensor.tensor.Tensor'>
19,<UID: ce07d66fa5704d8d82e4f659c56c2a4d>,[my_weights],,<class 'syft.core.tensor.tensor.Tensor'>
20,<UID: fcd80266c86d4896a5e0f57d8e7247ee>,[],,<class 'syft.lib.python.Int'>
21,<UID: f9fef2eeca484b548dacbd90d2d4c2d5>,[],,<class 'syft.lib.python._SyNone'>
22,<UID: 34de4872137d4c5b895ff2defa4543a1>,[],,<class 'syft.lib.python._SyNone'>
23,<UID: d4ef6535c2e541039e1d479e33e88c81>,[],,<class 'syft.lib.python.Int'>
24,<UID: 8c26ecb6914841ebbc8198c59d92235b>,[],,<class 'syft.lib.python._SyNone'>
25,<UID: 9d10b47ab055486fa9a99c8933a45bdb>,[],,<class 'syft.lib.python._SyNone'>
26,<UID: 1af0ab086905410ab459605b2bc265a6>,[],,<class 'syft.lib.python.Int'>
27,<UID: 8344d22a91784f75975862852ad66d80>,[],,<class 'syft.lib.python._SyNone'>
28,<UID: 972a4e12c5e84440baf3a8e4b0c2fdce>,[],,<class 'syft.lib.python._SyNone'>
29,<UID: b4b190d0f8974066837c5d4a60bc1883>,[autograd],,<class 'syft.core.tensor.tensor.Tensor'>
30,<UID: 49985237e7984be5a86081215d5fa2bd>,[],,<class 'syft.lib.python.Int'>
31,<UID: d4ffcc61582e41098d001e05b3bdce05>,[],,<class 'syft.lib.python._SyNone'>
32,<UID: 596c7421fdf0453eb9ecccec042f3847>,[],,<class 'syft.lib.python._SyNone'>
33,<UID: 617848e700fd46da9b44080cc9c2cd01>,[#feb2020],,<class 'numpy.ndarray'>
34,<UID: dd0bdc1f245849d7810b445704df6402>,[#feb2020],,<class 'numpy.ndarray'>
35,<UID: d33b9c957c2d4dc2bd45cd3ea5f0a28b>,[#feb2020_private],,<class 'syft.core.tensor.tensor.Tensor'>

In [37]:
# Check if there are any pending requests
domain_node.requests

In [38]:
# Deny the request for the entire dataset
domain_node.requests[0].deny()

In [3]:
domain_node.users.create(
    **{
        "name": "Testing",
        "email": "testing@openmined.com",
        "password": "please_work"
    }
)