In [10]:
import syft as sy
print(syft.__version__)
import pandas as pd

0.7.0-beta.50

In [8]:
# run this cell
try:
    domain_client = sy.login(
       port=8081,
       email="info@openmined.org",
       password="changethis"
    )
except Exception as e:
    print("Unable to login. Please check your domain is up with `!hagrid check localhost:8081 --silent`")

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to localhost... done! 	 Logging into netherland... done!

In [11]:
netherlands_trade_data_url = "https://github.com/OpenMined/PySyft/blob/dev/notebooks/trade_demo/datasets/nl%20-%20feb%202021.csv?raw=true"
data = pd.read_csv(netherlands_trade_data_url)

/tmp/ipykernel_14583/1359313978.py:2: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(netherlands_trade_data_url)

In [12]:
data

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,528,Netherlands,...,Lithuania,NaN,8429,"Bulldozers, graders, levellers, scrapers, angl...",0,NaN,NaN,14174.0,19716,0
1,HS,2021,202102,February 2021,4,0,1,Imports,528,Netherlands,...,Luxembourg,NaN,8459,Machine-tools; (including way-type unit head m...,0,NaN,NaN,183.0,613,0
2,HS,2021,202102,February 2021,4,0,1,Imports,528,Netherlands,...,Austria,NaN,8459,Machine-tools; (including way-type unit head m...,0,NaN,NaN,40623.0,152307,0
3,HS,2021,202102,February 2021,4,0,1,Imports,528,Netherlands,...,Belgium,NaN,8459,Machine-tools; (including way-type unit head m...,0,NaN,NaN,17984.0,47333,0
4,HS,2021,202102,February 2021,4,0,1,Imports,528,Netherlands,...,Bulgaria,NaN,8459,Machine-tools; (including way-type unit head m...,0,NaN,NaN,1209.0,6458,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456595,HS,2021,202102,February 2021,2,0,2,Exports,528,Netherlands,...,India,NaN,97,Works of art; collectors' pieces and antiques,0,NaN,NaN,0.0,299793,0
456596,HS,2021,202102,February 2021,2,0,2,Exports,528,Netherlands,...,World,NaN,99,Commodities not specified according to kind,0,NaN,NaN,0.0,132908627,0
456597,HS,2021,202102,February 2021,2,0,2,Exports,528,Netherlands,...,Thailand,NaN,97,Works of art; collectors' pieces and antiques,0,NaN,NaN,0.0,6549,0
456598,HS,2021,202102,February 2021,2,0,2,Exports,528,Netherlands,...,Dominican Rep.,NaN,97,Works of art; collectors' pieces and antiques,0,NaN,NaN,0.0,36173,0
456599,HS,2021,202102,February 2021,2,0,2,Exports,528,Netherlands,...,Malaysia,NaN,97,Works of art; collectors' pieces and antiques,0,NaN,NaN,0.0,6775,0

In [13]:
data["Partner"]

0              Lithuania
1             Luxembourg
2                Austria
3                Belgium
4               Bulgaria
               ...
456595             India
456596             World
456597          Thailand
456598    Dominican Rep.
456599          Malaysia
Name: Partner, Length: 456600, dtype: object

In [15]:
# Filter commodities imported to Netherland
commodities_imported_to_netherlands = data[data['Trade Flow'] == "Imports"]
commodities_imported_to_netherlands

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,528,Netherlands,...,Lithuania,NaN,8429,"Bulldozers, graders, levellers, scrapers, angl...",0,NaN,NaN,14174.0,19716,0
1,HS,2021,202102,February 2021,4,0,1,Imports,528,Netherlands,...,Luxembourg,NaN,8459,Machine-tools; (including way-type unit head m...,0,NaN,NaN,183.0,613,0
2,HS,2021,202102,February 2021,4,0,1,Imports,528,Netherlands,...,Austria,NaN,8459,Machine-tools; (including way-type unit head m...,0,NaN,NaN,40623.0,152307,0
3,HS,2021,202102,February 2021,4,0,1,Imports,528,Netherlands,...,Belgium,NaN,8459,Machine-tools; (including way-type unit head m...,0,NaN,NaN,17984.0,47333,0
4,HS,2021,202102,February 2021,4,0,1,Imports,528,Netherlands,...,Bulgaria,NaN,8459,Machine-tools; (including way-type unit head m...,0,NaN,NaN,1209.0,6458,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217459,HS,2021,202102,February 2021,6,1,1,Imports,528,Netherlands,...,Austria,NaN,930700,"Arms; swords, cutlasses, bayonets, lances and ...",0,NaN,NaN,0.0,4,0
217460,HS,2021,202102,February 2021,6,1,1,Imports,528,Netherlands,...,Luxembourg,NaN,940382,Furniture; of bamboo,0,NaN,NaN,1.0,4,0
217461,HS,2021,202102,February 2021,6,1,1,Imports,528,Netherlands,...,Malta,NaN,940370,Furniture; plastic,0,NaN,NaN,1.0,4,0
217462,HS,2021,202102,February 2021,6,1,1,Imports,528,Netherlands,...,Hungary,NaN,940383,Furniture; of rattan,0,NaN,NaN,1.0,4,0
217463,HS,2021,202102,February 2021,6,1,1,Imports,528,Netherlands,...,Denmark,NaN,293941,"Alkaloids, vegetable; ephedrine and its salts",0,NaN,NaN,NaN,2,0

In [16]:
# Trade Value of the commodities imported to Netherlands
trade_value_of_imported_commodites = commodities_imported_to_netherlands['Trade Value (US$)'].to_numpy()

In [17]:
trade_value_of_imported_commodites

array([ 19716,    613, 152307, ...,      4,      4,      2])

In [19]:
len(trade_value_of_imported_commodites)

201985

In [18]:
# Countries from which commodities are imported to Netherlands
importers = commodities_imported_to_netherlands["Partner"]
importers

0          Lithuania
1         Luxembourg
2            Austria
3            Belgium
4           Bulgaria
             ...
217459       Austria
217460    Luxembourg
217461         Malta
217462       Hungary
217463       Denmark
Name: Partner, Length: 201985, dtype: object

In [23]:
data_subjects = sy.DataSubjectArray.from_objs(importers)
data_subjects

array([DataSubjectArray: {'Lithuania'}, DataSubjectArray: {'Luxembourg'},
       DataSubjectArray: {'Austria'}, ..., DataSubjectArray: {'Malta'},
       DataSubjectArray: {'Hungary'}, DataSubjectArray: {'Denmark'}],
      dtype=object)

In [22]:
min_val = trade_value_of_imported_commodites.min()
max_val = trade_value_of_imported_commodites.max()

In [26]:
data = sy.Tensor(trade_value_of_imported_commodites).annotated_with_dp_metadata(
   min_val=float(min_val), max_val=float(max_val), data_subjects=data_subjects
)

Tensor annotated with DP Metadata

In [27]:
data

Tensor(child=PhiTensor(child=[ 19716    613 152307 ...      4      4      2], min_vals=<lazyrepeatarray data: [1.] -> shape: (201985,)>, max_vals=<lazyrepeatarray data: [4.45670684e+10] -> shape: (201985,)>))

In [28]:
trade_value_of_imported_commodites

array([ 19716,    613, 152307, ...,      4,      4,      2])

In [55]:
np.mean(trade_value_of_imported_commodites)

1765163.482565537

In [29]:
domain_client.load_dataset(
   name="trade_value_of_imported_commodites",
   assets={
       "trade_value_of_imported_commodites data": data,
   },
   description="..."
)

Loading dataset... uploading...🚀

kj/filesystem-disk-unix.c++:1690: warning: PWD environment variable doesn't match current directory; pwd = /home/dk
Uploading `trade_value_of_imported_commodites data`: 100%|████████████| 1/1 [00:00<00:00,  4.56it/s]

Dataset is uploaded successfully !!! 🎉

Run `<your client variable>.datasets` to see your new dataset loaded into your machine!

In [30]:
domain_client.datasets

In [36]:
domain_client.datasets[0]["trade_value_of_imported_commodites data"]

array([43446758101, 39075993839,  4318458884, ..., 41376665056,
       27588876366,  8103487456])

 (The data printed above is synthetic - it's an imitation of the real data.)

In [38]:
a = domain_client.datasets[0]["trade_value_of_imported_commodites data"] + 0

In [40]:
a.publish

<bound method Pointer.publish of array([25027948317, 42500055378, 19653870118, ..., 32494131259,
        9746386282, 21926077987])

 (The data printed above is synthetic - it's an imitation of the real data.)>

In [41]:
a.get()

Tensor(child=PhiTensor(child=[ 19716    613 152307 ...      4      4      2], min_vals=<lazyrepeatarray data: [1.] -> shape: (201985,)>, max_vals=<lazyrepeatarray data: [4.45670684e+10] -> shape: (201985,)>))

In [42]:
user_client = sy.login(
       port=8081,
       email="info@openmined2.org",
       password="a"
)

Connecting to localhost... done! 	 Logging into netherland... done!

In [47]:
user_client.datasets[0]["trade_value_of_imported_commodites data"].request()

In [50]:
domain_client.requests[0].accept()

In [56]:
user_client.datasets[0]["trade_value_of_imported_commodites data"].mean()

AttributeError: 'TensorWrappedPhiTensorPointer' object has no attribute 'child'